{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        {{ include('main/content/about.md')|markdown_to_html }}
    </main>
    <div class="aside aside-bottom">
        {{ include('main/content/about-aside.md')|markdown_to_html }}
    </div>
{% endblock %}
