{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <h1>{{ pageTitle }}</h1>

        <h2 class="header-m">Följande API:er finns tillgängliga:</h2>

        <ul>
            <li class="header-sm"><a href="{{ path('quote') }}">Dagens citat</a></li>
            <li class="header-sm"><a href="{{ path('api_deck') }}">Sorterad kortlek</a></li>
            <li class="header-sm">
                <form method="post" action="{{ path('api_deck_shuffle') }}">
                    <input type="submit" value="Blandad kortlek">
                </form>
            </li>
        </ul>
    </main>
{% endblock %}
