@use "variables" as var;

*[class^="flash-"]{
    padding: var.$baseline-half;
    font-weight: 600;
    margin-bottom: var.$baseline;
    border-radius: 5px;
}

.flash-notice {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}