@use "variables" as var;
@use "typography/typography";

%label {
    @extend %headers;
    display: block;
    margin-bottom: var.$baseline-quart;
    font-weight: 300;
}

.form {
    display: flex;
    flex-direction: column;
    // width: min(400px, 80%);
    max-width: 400px;
    font-family: inherit;
    font-size: 1rem;
    margin: 0;
    margin-bottom: var.$baseline;

    label {
        // @extend %headers;
        // display: block;
        // margin-bottom: var.$baseline-quart;
        // font-weight: 300;
        @extend %label;
    }

    input,
    select {
        width: 100%;
        padding: var.$baseline-half;
        border: 1px solid var.$border-regular;
        border-radius: 3px;
        font-family: inherit;
        background-color: transparent;
        color: inherit;
        margin-bottom: var.$baseline;
    }

    textarea {
        width: 100%;
        padding: var.$baseline-quart;
        border: 1px solid var.$border-regular;
        border-radius: 3px;
        height: var.$baseline-x8;
        font-family: inherit;
        background-color: transparent;
        color: inherit;
        margin-bottom: var.$baseline;
    }

    option {
        background-color: var.$bg-color-option;
        border: 1px solid var.$border-regular;
        color: var.$color-body;
        font-family: inherit;
    }


    .button {
        width: fit-content;
    }

    input:focus,
    textarea:focus {
        outline: 2px solid var.$border-regular;
    }
}

.input-small {
    width: 100px;
    padding: var.$baseline-half;
    border: 1px solid var.$border-regular;
    border-radius: 3px;
    font-family: inherit;
    background-color: transparent;
    color: inherit;
    margin-bottom: var.$baseline;
}

.label-small {
    @extend %label;
    margin: 0;
}