// IMAGES

@use "variables" as var;

.img {
    margin-bottom: var.$baseline;
    border-radius: 5px;
    overflow: hidden;
    filter: brightness(0.85);
}

figure,
picture {
    margin: 0;
    margin-bottom: var.$baseline;

    .img {
        margin-bottom: 0;
    }
}


figcaption {
    font-style: italic;
}

.profile-img {
    float: left;
    margin-right: var.$baseline;
    margin-bottom: var.$baseline-half;
}

.library-img {
    width: 100%;
}

.book {
    float: left;
    margin-right: var.$baseline-x2;
    margin-bottom: var.$baseline;
    width: 100%;
    max-width: 300px;
}

// .img-proj-start {
//     float: left;

// }