@use "variables" as var;

.gameview {
    display: flex;
    gap: var.$baseline-x2;
}

.gameboard {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
    }

    .slot {
        width: 75px;
        height: 110px;

        border: 1px solid white;
    }

    .slot:hover {
        cursor: default;
    }

    .empty-slot:hover {
        cursor: pointer;
    }
}