@use "variables" as var;

.gameview {
    display: flex;
    gap: var.$baseline-x4;
}

.gameboard {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
    }

    .slot {
        width: 69px;
        height: 100px;
        border: 1px solid white;
    }

    .slot:hover {
        cursor: default;
    }

    .empty-slot:hover {
        cursor: pointer;
        background-color: var.$bg-color-hover;
    }
}

.deck-and-card {
    display: flex;
    flex-direction: column;
    gap: var.$baseline;
}