@use "variables" as var;

.gameview {
    display: flex;
    gap: var.$baseline-x4;
    margin-bottom: var.$baseline-x4;
}

.gameboard {
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        position: relative;
    }

    .slot {
        position: relative;
        width: 69px;
        height: 100px;
        border: 1px solid white;
    }

    .slot:hover {
        cursor: default;
    }

    .empty-slot:hover {
        cursor: pointer;
        background-color: var.$bg-color-hover;
    }

    *[class*="hand-score"] {
        position: relative;
    }

    .hand-score-row {
        left: var.$baseline;
        top: 40%;
    }

    .hand-score-col {
        left: 40%;
        top: 120%;
    }
}

.deck-and-card {
    display: flex;
    flex-direction: column;
    gap: var.$baseline;
}

.players {
    display: flex;
    flex-direction: column;
    gap: var.$baseline-half;
    max-width: 400px;
    padding: var.$baseline-half;
    margin-bottom: var.$baseline;
    border: 1px solid var.$border-regular;
    border-radius: 5px;
}