<h2 class="header-lg">Länkar</h2>

<ul>
    <li><a href="{{ path('card_start') }}">start</a></li>
    <li><a href="{{ path('card_deck') }}">sorterad kortlek</li>
    <li><a href="{{ path('card_deck_shuffle') }}">blandad kortlek</li>
    <li><a href="{{ path('card_deck_draw') }}">dra kort</li>
</ul>