<h2 class="header-lg">Länkar</h2>

<ul>
    <li><a href="{{ path('game_start') }}">start</a></li>
    <li><a href="{{ path('game_play') }}">spela</li>
    <li><a href="{{ path('game_doc') }}">dokumentation</li>
</ul>
