{% extends "base.html.twig" %}

{% block content %}
    <main class="main text-container">
        <h1>{{ pageTitle }}</h1>

        {{ include('game/content/start.md')|markdown_to_html }}


        <form method="post" action="{{ path('game_init') }}">
            <button
                class="button btn-api"
                type="submit"
                name="restart"
                value="true"
            >Starta spel</button>
        </form>
    </main>

    <div class="aside aside-top">
        {{ include('game/_nav.html.twig') }}
    </div>
{% endblock %}
