{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <h1>Kasta Gris</h1>

        <p>
            Detta är ett klassiskt tärningsspel som heter "Kasta Gris" eller "Pig", där du slår en
            uppsättning tärningar för att försöka nå 100 poäng. Du kan läsa mer om
            <a href="https://en.wikipedia.org/wiki/Pig_(dice_game)">
                grunderna i spelet på Wikipedia
            </a>.
        </p>
    </main>
{% endblock %}
