// BASE LAYOUT

@forward "header";
@forward "navigation";
@forward "footer";

@use "../variables" as var;

html,
body {
    min-height: 100vh;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var.$bg-color-body;
}

.header {
    width: 100%;
    min-height: var.$baseline-x4;
    flex: 0 0 auto;
}

.main {
    width: 100%;
    flex: 1 0 auto;
    max-width: 700px;
    padding: var.$baseline-x2;
}

.footer {
    width: 100%;
    min-height: var.$baseline-x4;
    flex: 0 0 auto;
}