<form class="form" action="{{ path('proj_game_init') }}" method="post">
    <label for="player">Ange ett namn:</label>
    <input type="text" name="player" id="player"  min="3" required>
    <button class="button" type="submit">Starta spel</button>
</form>