{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        <img
            width="480"
            class="img"
            src="/img/proj/class-diagram.png"
            alt="Klassdiagram"/>

    </main>
{% endblock %}
