{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        <figure class="img">
            <img
            width="480"
            src="/img/proj/er-diagram.png"
            alt="ER-diagram över databastabeller"/>
            <figcaption>ER-diagram över fyra tabeller i databasen</figcaption>
        </figure>

        {{ include('proj/about/content/database.md')|markdown_to_html }}

    </main>
{% endblock %}
