{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        <figure>
            <a href="{{ asset('img/proj/er-diagram.png') }}">
                <img
                    class="img"
                    width="480"
                    src="{{ asset('img/proj/er-diagram.png') }}"
                    alt="ER-diagram över databastabeller"/>
            </a>
            <figcaption>ER-diagram över fyra tabeller i databasen</figcaption>
        </figure>

        {{ include('proj/about/content/database.md')|markdown_to_html }}

    </main>
{% endblock %}
