{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        <a href="{{ path('proj_database') }}">Om databasen</a>

    </main>
{% endblock %}
