{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        {{ include('proj/about/content/about.md')|markdown_to_html }}

        <a class="button" href="{{ path('proj_database') }}">Om databasen</a>

    </main>
{% endblock %}
