<div class="deck-and-card">
    <div class="slot {{ game.card|raw }}"></div>
    <div class="slot {{ game.cardBack|raw }}"></div>
    <h2 class="header-m">{{ game.player }}</h2>
    <div class="header-m">{{ game.totalScore }} poäng</div>
</div>
