<div class="gameboard">
    {% for row in range(1, 5) %}
        <div class="row">
            {% for col in range(1, 5) %}
                {% set slot = row ~ col %}
                {% if slot in gameboard|keys %}
                    <div class="slot {{ gameboard[slot] }}"></div>
                    {# <div class="slot">
                        <span class="card">{{ gameboard[slot]|raw }}</span>
                    </div> #}
                {% else %}
                    <div class="slot empty-slot" data-slot-id="{{ slot }}"></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    <form id="place_card_form" action="{{ path('proj_place_card') }}" method="post">
        <input id="card_slot_input" type="hidden" name="slot_id" value="0">
    </form>
</div>
