<table>
    <thead>
        <tr>
            <th class="header-sm">Pokerhand</th>
            <th class="header-sm">Poäng</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Royal flush</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Färgstege</td>
                <td>75</td>
            </tr>
            <tr>
                <td>Fyrtal</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Kåk</td>
                <td>25</td>
            </tr>
            <tr>
                <td>Färg</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Stege</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Tretal</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Tvåpar</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Par</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Högt kort</td>
                <td>0</td>
            </tr>
    </tbody>
</table>