{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main">

        <div class="gameview">
            {% if game.playerType == "cpu" %}
                {{ include('proj/game/_cpu_gameboard.html.twig') }}
            {% else %}
                {{ include('proj/game/_gameboard.html.twig') }}
            {% endif %}

            {{ include('proj/game/_deck_and_card.html.twig') }}
        </div>

    </main>
{% endblock %}
