{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        <a class="button margin-b" href="{{ path('proj_rules') }}">Regler</a>
        <a class="button margin-b" href="{{ path('proj_game_init') }}">Spela</a>
    </main>
{% endblock %}
