{% extends "project_layout.html.twig" %}

{% block content %}
    <main class="main text-container">

        <h1>{{ pageTitle }}</h1>

        <p class="header-custom">Välkommen att spela en runda Poker Squares!</p>

        <p class="header-custom">Du kan välja att spela själv, mot datorn, eller mot en annan spelare. Lycka till!</p>

        <div class="container-flex">
            <a class="button margin-b" href="{{ path('proj_game_init') }}">Spela</a>
            <a class="button margin-b" href="{{ path('proj_highscore') }}">Visa topplista</a>
            <a class="button margin-b" href="{{ path('proj_rules') }}">Regler</a>
        </div>
    </main>
{% endblock %}
