{% extends "base.html.twig" %}

{% block body %}
    <main class="main">
        {{ include('content/about.md')|markdown_to_html }}
    </main>
    <div class="aside">
        {{ include('content/about-aside.md')|markdown_to_html }}
    </div>
{% endblock %}
