<form method="post" action="{{ path('delete_book') }}">
    <button
        class="button btn-delete"
        type="submit"
        name="id"
        value="{{ book.getId }}"
    >
        Radera
    </button>
</form>