<form method="post" action="{{ path('library_reset') }}">
    <button
        class="button btn-delete"
        type="submit"
        name="reset"
        value="true"
    >
        Återställ
    </button>
</form>