<ul>
    <li><a href="{{ path('all_books') }}">Visa Böcker</a></li>
    <li><a href="{{ path('create_book_view') }}">Lägg till en bok</a></li>
    <li><a href="{{ path('library_reset_view') }}">Återställ bibliotek</a></li>
</ul>