{% extends "base.html.twig" %}

{% block body %}
    <main class="main text-container">
        <h1>{{ pageTitle }}</h1>

        <ul>
            <li><a href="{{ path('all_books') }}">Visa Böcker</a></li>
            <li><a href="{{ path('create_book_view') }}">Lägg till en bok</a></li>
        </ul>

    </main>
{% endblock %}
